{% extends 'base.html' %}
{% block content %}

<div class="profile_page">
  <h1>About Yard Barker</h1>
  <hr />
  <h5>Join the Yard Barker community wherever your home and yard may be!</h5>
  <p>Yard Barker's mission is to provide top-quality helping hands to those who need it, while also providing opportunities for qualified individuals who want to make some extra cash.</p>
  <p>Whether you don't have the time to finish your home and yard tasks yourself or you just downright don't like doing them at all, Yard Barker will connect you with someone who can get the job done right.</p>
  <p>And just because you're posting jobs on our platform doesn't mean you can't sign up to do work for others as well. Feel free to add yourself to our pool of trusted contractors by clicking the 'Become a Contractor' link at the top of the page.</p>
  <p>We take our rating and review system very seriously so we know our clients are getting the best help available. Each contractor receives a 0-5 star rating based on the average of each of their completed jobs. We follow up and vet each negative job review left on our platform to properly maintain our high quality standard.</p>
  <p>Don't waste any more time and join the Yard Barker community to add your home and yard needs to our listings and see what other jobs need to get done in your area!</p>
  <hr />
  <footer>All Yards Reserved, &copy; 2022 Yard Barker</footer> 
</div>

{% endblock %}