* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #F2E7D5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main.container {
  margin: 0;
}

nav, footer.page-footer {
  background-color: #6D9886;
}

section {
  padding-top: 5vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h4 {
  margin-left: 2vw;
}

p {
  margin-bottom: 1vmin !important;
}

span {
  font-weight: bold;
}

form {
  margin: 40px;
}

label {
  color: #393E46;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #393E46;
}

textarea {
  background-color: white;
}

ul {
  font-family: 'Concert One', cursive;
}

.home-banner {
  width: 100vw;
  height: 45vh;
  background-color: #393E46;
  padding: 0;
}

.service-carousel {
  height: 55vh;
  width: 100vw;
  background-color: #F2E7D5;
}

.popular-service.carousel_item {
  height: 30vh;
  width: 40vw;
  background: url('https://i.imgur.com/eBeZWiR.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile_page {
  margin-left: 6vmin;
}

.profile_page > h1 {
  margin-left: 3vmin;
}

.card-title, h1, h2 {
  font-family: 'Rubik Marker Hatch', cursive;
}

.card-title {
  font-size: 5vmin !important;
  color: #6D9886;
}

.card-content > p {
  margin-left: 2vmin !important;
}

.job_progress {
  font-size: 6vmin;
}

.disclaimer {
  font-weight: bold;
}

#job_detail {
  margin-left: -3vw;
  margin-bottom: 1vw;
  width: 70vw;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}

#job_content_card {
  width: 28vw;
  height: 24.3vw;
  margin: 0 -38vmin;
}

#map {
  height: 25vw;
  width: 26vw;
  margin-right: 5vw;
  margin-left: -3vw;
}

#logo-img {
  margin-top: 5px;
}

#about-div {
  margin-left: 8vmin;
  width: 100%;
}

#delete {
  margin-left: -1vw;
}

#cancel {
  margin-left: 1vw;
}

#job_photo {
  margin-top: 5vh;
}

#available_con {
  margin-left: 1vw;
}

#reviews_top {
  margin-left: 1vw;
}

#user_name {
  font-size: 12vmin;
}

#job_submit {
  margin-top: 2vmin;
}